#cart{
    z-index: 9999999999;
    .btn {
        padding:0 15px;
        border-radius:10px ;
        -webkit-border-radius:10px ;
        -moz-border-radius:10px ;
        -ms-border-radius:10px ;
        -o-border-radius:10px ;
    }
    .offcanvas{
        z-index: 99999999;
        .offcanvas-header{
            border-bottom: 1px dashed black;
            padding: 10px 15px;
            h5{
                img{
                    width: 120px;
                }
            }
        }
        // .offcanvas-body{

        // }
    }
}

