.popular{
    padding-bottom: 120px;
    .section_header{
          
        h2{
            font-size: 48px;
            font-weight: 600;
            color: $black;
            padding-bottom: 30px;
            span{
                color: $blue;
            }
        }
        p{
            font-size: 16px;
            font-weight: 400;
            font-family: $robot;
            color: #3f4040;
            line-height: 24px;
            padding: 0 280px;
        }
    }
    .popular_wrapper{
          padding-top: 80px;
        .populer_wrap{
           .popular_img{
               overflow: hidden;
            img{
                width: 100%;
                cursor: pointer;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                &:hover{
                    transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    -o-transform: scale(1.1);
                    
}
            }
           }
          .wrap_title{
              padding: 30px 0;
              a{
                font-size: 20px;
                font-weight: 500;
                color: #232323;
                &:hover{
                    padding-left: 10px;
                }
                span{
                    color: $blue;
                    padding-left: 10px;
                }
              }
          }
        }
    }
}